* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
#scrollBar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#scrollBar::-webkit-scrollbar {
  display: none;
}

.sidebarHide {
  left: -350px;
}
